body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2 !important;
    color: #333;
}

header {
    background-color: #4CAF50;
    padding: 1em;
    color: white;
    text-align: center;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}

#bread-list, #fruits-and-vegetables-list, #animal-products-list,
#cooking-and-backing-products-list, #canned-products-list, #snacks-list,
#hygien-products-list, #orders-list, #outputArea {
    background-color: #f2f2f2 !important;
    /* border: 1px solid #ddd; */
    padding: 20px;
    margin: 10px 0;
}

h1 {
    color: #4CAF50;
}

/* button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    margin: 5px;
    border: none;
    cursor: pointer;
} */

input[type="text"] {
    padding: 8px;
    margin: 5px;
}

#outputArea {
    background-color: white;
    border: 1px solid #ddd;
    padding: 20px;
    margin-top: 20px;
}
button:hover {
    background-color: #45a049;
}

.listItem {
            display: flex;
            align-items: center;
        }

.custom-popup {
    display: inline-block;
    position: fixed;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #4CAF50;
    color: white;
    padding: 15px;
    border-radius: 5px;
    z-index: 999;
    animation: fadeInOut 2s ease-out;
}

@keyframes fadeInOut {
    0%, 100% {
        opacity: 0;
    }
    10%, 90% {
        opacity: 1;
    }
}

button {
    border: none;
    padding: 7px 26px;
    text-align: center;
    color: white;
    background: #4CAF50;
    border-radius: 20px;
}

input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    font-size: 14px;
  }

footer {
    text-align: center;
    padding: 20px;
    background-color: #4CAF50;
    color: white;
}

#sendListButton {
    margin: 3px;
}

div {
    border: none;
}

#outputArea {
    border: none;
}

#delete-btn {
    margin: 5px;
}

#homebtn {
    font-weight: bold;
}