body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2 !important;
}

header {
    background-color: #4CAF50;
    padding: 1em;
    color: white;
    text-align: center;
}

#hero {
    text-align: center;
    padding: 50px;
    background-color: #f2f2f2;
}

#hero h1 {
    font-size: 2em;
    color: #333;
}

#features {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f2f2f2;

}

#features h2 {
    color: #333;
}

#features ul {
    list-style: none;
    padding: 0;
}

#features li {
    margin-bottom: 10px;
}

#get-started {
    text-align: center;
    margin: 20px;
    top: 80%;
}

#get-started h2 {
    color: #333;
}

#get-started p {
    margin-bottom: 20px;
}

.button {
    display: inline-block;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.button:hover {
    background-color: #45a049;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #4CAF50;
    color: white;
}

nav a {
    text-decoration: none;
    color: white;
    /* font-weight: bold; */
    font-size: 16px;
}

#getStarted {
    position: absolute;
    left: 50%;
    top: 73%;
    transform: translate(-50%, -50%);
    /* border: 5px solid #FFFF00; */
    padding: 10px;
    width: 700px;
    background-color: #f2f2f2;
    
}

#homebtn {
    font-weight: bold;
}

