@media (min-width: 700px) { 
    #smallnav {
        display: none;
    }

    body {
        font-family: 'Arial', sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f2f2f2 !important;
        color: #333;
        min-height: 100vh; /* Set minimum height to full viewport height */
        position: relative;
    }
    
    
    header {
        background-color: #4CAF50;
        padding: 1em;
        color: white;
        text-align: center;
    }
    
    nav a {
        text-decoration: none;
        color: white;
        /* font-weight: bold; */
        font-size: 16px;
    }
    
    h1 {
        text-align: center;
        color: #333;
    }
    
    #outputArea {
        margin: 20px;
        padding: 10px;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
    
    button {
        background-color: #4CAF50;
        color: white;
        padding: 10px 15px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
    }
    
    button:hover {
        background-color: #45a049;
    }
    
    footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        text-align: center;
        padding: 20px;
        background-color: #4CAF50;
        color: white;
    }
    
    #getShoppingListButton {
        margin: 5px;
    }
    
    #title {
        margin: 20px;
    }
    
    #homebtn {
        font-weight: bold;
    }
    
    
    .list-item {
        margin: 8px;
      }
      
}

@media (max-width : 700px) {
    #bignav {
        display: none;
    }
    
    body {
        font-family: 'Arial', sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f2f2f2 !important;
        color: #333;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }
    
    main {
        flex: 1; /* This will make the main content area take up remaining space */
    }
    header {
        background-color: #4CAF50;
        padding: 1em;
        color: white;
        text-align: center;
    }
    
    nav a {
        text-decoration: none;
        color: white;
        /* font-weight: bold; */
        font-size: 16px;
    }
    
    h1 {
        text-align: center;
        color: #333;
    }
    
    #outputArea {
        margin: 20px;
        padding: 10px;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
    
    button {
        background-color: #4CAF50;
        color: white;
        padding: 10px 15px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
    }
    
    button:hover {
        background-color: #45a049;
    }
    
    footer {
        text-align: center;
        padding: 20px;
        background-color: #4CAF50;
        color: white;
    }
    
    #getShoppingListButton {
        margin: 5px;
    }
    
    #title {
        margin: 20px;
    }
    
    #homebtn {
        font-weight: bold;
    }
    
    
    .list-item {
        margin: 8px;
      }
      
}